$pc-lg-media:1200px;
$pc-lgs-media:1199px;
$pc-media:992px;
$pcs-media:991px;
$pad-media:768px;
$pads-media:767px;
$phone-media:576px;
$phones-media:575px;

$main-T-Color: #000; //主要文字顏色
$submain-T-Color: #fff; //次要文字顏色


$main-Bg-Color: #000; // 主要背景色
$submain-Bg-Color: #fff; //次要貝景色
$third-Bg-Color:#d5d5d5;

$Menu-Bg-Color:#292827;

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) and (max-width: $pc-lgs-media) {
    @content;
  }
}


//平板
@mixin pad-width() {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

//平板以下
@mixin pad-and-phone-width {
  @media all and (max-width: $pads-media) {
    @content;
  }
}


//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}

//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}